/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    scroll-behavior: smooth;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*************************** MY CODE ***************************/

:root{
    --color-hover-menu: rgb(146, 146, 146);
    --color-footer-links: #fff;
    --color-footer-info: rgba(255, 255, 255, 0.5);
    --backgroundColor-menu: rgb(0, 8, 46);
    --background-hover-menu: #fff;
    --backgroundFooter: #303030;
    --font-family-text: AnekTelugu;
    --error-color: red;
    --success-color: green;

    scroll-behavior: smooth;
}
/************* INDEX PAGE *************/

/*** HEADER MENU CONTAINER***/
header {
    width: calc(100% - 60px);
    height: 80px;
    background-color: var(--backgroundColor-menu);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: relative;
    z-index: 500;
}
/* BRAND NAME */
@font-face {
    font-family: AnekTelugu;
    src: url("fonts/Anek_Telugu/AnekTelugu-VariableFont.ttf");
}

header .brand-name {
    margin-top: 8px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--font-family-text);
}

.brand-name span {
    color: #a7a7a7 ;
}

/*HEADER MENU*/
header nav {
    font-family: Arial;
    background-color: var(--backgroundColor-menu);
    position: absolute;
    top: 80px;
    left: 0; 
    right: 0;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
 
}

header nav ul{
    width: fit-content;
    opacity: 0;
    transition: 0.5s;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-family: arial;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    margin-top: 5px;
    display: block;
    line-height: 50px;
    transition: 0.5s;
    border-radius: 30px;
}

header nav ul li a:hover{
    border-radius: 30px;
    background-color: var(--background-hover-menu);
    color: var(--backgroundColor-menu);
}

header .active{
    height: 270px;
}
header .active ul {
    opacity: 1;
}

header .button-nav-menu{
    width: 27px;
    height: 25px;
    cursor: pointer;
}
.button-nav-menu .line{
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    background-color: #fff;
}

@media only screen and (min-width: 768px) { /*FOR TABLETS*/
    header {
        position: unset;
    }
    header .brand-name {
        margin-top: 10px;
        font-size: 25px;
        z-index: 1;
    }
    header nav {
        width: fit-content;
        position: unset;
        text-align: unset;
        height: auto;
    }
    header .active {
        height: auto;
    }
    header nav ul {
        opacity: 1;
    }
    header nav ul li {
        display: inline-block;
    }
    header nav ul li a {
        font-size: 15px;
        line-height: 40px;
    }
    header .button-nav-menu{
        display: none;
    }
}
@media only screen and (min-width: 1024px) { /*LAPTOPS*/
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

/***MAIN CONTAINER***/

main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
main .main-container{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    overflow: auto;
}

main .main-container video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
}
.main-container section {
    width: fit-content;
    text-align: center;
    color: white;
    font-family: var(--font-family-text);
}
.main-container section img {
    width: 86px;
}

.main-container section h1{
    margin-top: 10px;
    font-size: 21px;
}

.main-container section p{
    margin-top: 5px;
    font-size: 15px;
}
@media only screen and (min-width: 768px) { /*FOR TABLETS-LAPTOPS-PC*/
    .main-container {
        height: calc(100vh - 230px);
    }
    section img {
        width: 90px;
    }
    section h1{
        font-size: 35px;
    }
    section p{
        font-size: 25px;
    }
}
@media only screen and (min-width: 1024px) { /*FOR LAPTOPS*/
    .main-container {
        margin-top: 80px;
        height: calc(100vh - 80px);
    }
    section img {
        width: 70px;
    }
    section h1{
        font-size: 25px;
    }
    section p{
        font-size: 15px;
    }
}
/*FOOTER CONTAINER*/
footer {
    background-color: var(--backgroundFooter);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer .info-container {
    text-align: center;
    margin-bottom: 10px;
    width: 250px;
}

.info-container ul{
    width: fit-content;
    margin: 0px auto 0px auto;
}

.info-container ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0px 10px 0px 10px;
}

.info-container ul li a.fa{
    text-decoration: none;
    color: var(--color-footer-info);
    font-size: 23px;
    margin-bottom: 20px;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

.info-container ul li a.fa:hover {
    transform: translateY(-3px);
    opacity: 0.7;
}

.info-container p{
    border-top: 1px solid rgb(80, 80, 80);
    padding-top: 10px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 100;
    font-family: var(--font-family-text);
    color: var(--color-footer-info);
}

.info-container p a{
    color: orange;
    text-decoration: none;
}

.info-container p a:hover{
    color: var(--color-footer-info);
    text-decoration: underline;
}
@media only screen and (min-width: 768px) { /*FOR TABLETS*/
    .info-container ul li a.fa{
        font-size: 25px;
    }
    .info-container p{
        font-size: 15px;
    }
}
@media only screen and (min-width: 1024px) { /*FOR LAPTOPS*/
    .info-container ul li a.fa{
        font-size: 20px;
    }
    .info-container p{
        font-size: 13px;
    }
}
/************* CONTACT PAGE *************/

main .contact-container{
    width: calc(100% - 20px);
    height: calc(100vh - 120px);
    margin: 10px;
    padding: 10px 0px;
}

.contact-container .page-title {
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    /*font-family: 'Nixie One', cursive;*/
    color: var(--backgroundColor-menu);
    border-bottom: 2px dotted lightgray;
    padding-bottom: 15px;
    
}

.contact-container .email-info-image-section {
    width: 100%;
    height: calc(100% - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container .contact-email-container {
    width: calc(300px - 30px);
    padding: 15px;
    font-family: var(--font-family-text);
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0px 0px 20px black;
}
.contact-container .contact-email-container:hover {
    box-shadow: 0px 0px 50px black;
}
.contact-email-container p{
    width: fit-content;
    margin: 20px auto 10px auto;
}
.contact-email-container p.first-p{
    font-size: 25px;
    font-weight: bolder;
}
.contact-email-container p.second-p a{
    font-size: 17px;
    color: black;
    text-decoration: none;
}
.contact-email-container p.second-p a:hover{
    color: var(--backgroundColor-menu);
}

.contact-email-container .image-email {
    background-image: url("images/email.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}


@media only screen and (min-width: 768px) { /*FOR TABLETS */
    .contact-email-container .image-email {
        width: 90px;
        height: 90px;
    }
    .contact-container .contact-email-container {
        width: calc(400px - 80px);
        padding: 40px;
    }
    .contact-email-container p.first-p{
        font-size: 35px;
    }
    .contact-email-container p.second-p a{
        font-size: 27px;
    }
}

@media only screen and (min-width: 1024px) { /*FOR LAPTOPS*/
    main .contact-container{
        width: calc(100% - 20px);
        height: calc(100vh - 40px);
        padding: 10px 0px;
    }
    .contact-container .page-title {
        margin-top: 80px;
    }
    .contact-email-container .image-email {
        width: 70px;
        height: 70px;
    }
    .contact-container .contact-email-container {
        width: calc(300px - 30px);
        padding: 15px;
        box-shadow: 0px 0px 0px black;
    }
    .contact-email-container p.first-p{
        font-size: 25px;
    }
    .contact-email-container p.second-p a{
        font-size: 17px;
    }
}
    
/************* ABOUT PAGE *************/

main .about-container{
    width: 100%;
    height: auto;
}
.about-container .image-section {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url("images/piano-about-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-section {
    color: #fff;
    font-family: var(--font-family-text);
    font-size: 40px;
}
.about-container .about-info {
    width: calc(100% - 40px);
    height: auto;
    padding: 20px;
}
.about-info h2 {
    width: fit-content;
    padding-bottom: 5px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    /*font-family: 'Nixie One', cursive;*/
    color: var(--backgroundColor-menu);
    border-bottom: 1px dotted var(--backgroundColor-menu);
}
.about-info p::first-letter {
    font-size: 30px;
}
.about-info p {
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    padding-top: 10px;
}

.about-container .contact-section {
    width: 100%;
    height: 300px;
    background-image: url("images/last-about-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-family: var(--font-family-text);
    font-size: 25px;
}
.contact-section > p {
    text-shadow: 5px 5px 5px black;
}
.contact-section > a {
    font-family: Arial;
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10%;
    border: 2px solid white;
    transition: 0.5s;
}
.contact-section > a:hover {
    color: var(--backgroundColor-menu);
}

.about-container .application-services {
    width: calc(100% - 30px);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    background-color: rgb(235, 235, 235);
}
.application-services h2 {
    width: 100%;
    color: var(--backgroundColor-menu);
    text-align: center;
    font-family: var(--font-family-text);
    font-size: 17px;
    text-transform: uppercase;
}
.application-services .image-container {
    margin-top: 10px;
    width: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    font-family: var(--font-family-text);
    font-size: 16px;
    color: var(--backgroundColor-menu);
    text-align: center;
}
.application-services .image-container img{
    width: 70px;
    height: 70px;
}
.application-services .image-container p{
    margin-top: 5px;
}
@media only screen and (min-width: 768px) { /*FOR TABLETS */
    .about-info h2 {
        font-size: 40px;
    }
    .about-info p::first-letter {
        font-size: 45px;
    }
    .about-info p {
        font-size: 30px;
        text-align: justify;
        line-height: 40px;
        padding-top: 10px;
    }
    .application-services h2 {
        font-size: 25px;
    }
    .application-services .image-container {
        width: 140px;
        font-size: 25px;
    }
}

@media only screen and (min-width: 1024px) { /*FOR LAPTOPS*/
    .about-container .about-info {
        width: 1000px;
        margin: 0 auto;
    }
    .about-container .image-section {
        margin-top: 80px;
        background-image: url("images/piano-about-desktop.jpg");
    }
    .about-info h2 {
        font-size: 25px;
    }
    .about-info p::first-letter {
        font-size: 30px;
    }
    .about-info p {
        font-size: 18px;
    }
    .about-container .contact-section {
        height: 600px;
    }
    .contact-section > a:hover {
        color: var(--backgroundColor-menu);
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid var(--backgroundColor-menu);
    }

    .about-container .application-services {
        width: calc(1000px - 30px);
        margin: 0 auto 10px auto;
    }
    .application-services h2 {
        font-size: 25px;
    }
    .application-services .image-container {
        width: 100px;
        font-size: 17px;
    }
}

/************* MY MUSIC PAGE *************/
main .my-music-container {
    width: calc(100% - 6px);
    height: auto;
    background-color: var(--backgroundColor-menu);
    padding: 20px 3px 3px 3px;
}
.my-music-container h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-family-text);
    font-size: 20px;
    color: white;
}
.my-music-container .albums-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.albums-container .album {
    flex-basis: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.albums-container .album img {
    width: 100%;
    height: 250px;
    transition: 0.5s;
}

.albums-container .album .info {
    position: absolute;
    color: #fff;
    font-family: var(--font-family-text);
    height: 20px;
    width: 100%;
    bottom: 1px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info h2{
    font-size: 25px;
    visibility: hidden;
    opacity: 0;
}
.info p{
    font-size: 17px;
    visibility: hidden;
    opacity: 0;
}

.albums-container .album:hover {
    cursor: pointer;
}
.albums-container .album:hover .info{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.albums-container .album:hover .info h2{
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.albums-container .album:hover .info p{
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.albums-container .album:hover img{
    transform: scale(1.1) rotate(-3deg);
}


@media only screen and (min-width: 768px) { /*FOR TABLETS */
    .albums-container .album {
        flex-basis: 49.75%;
        margin: 0px 1px;
    }
    .albums-container .album img {
        height: 270px;
    }
}

@media only screen and (min-width: 1024px) {
    main .my-music-container {
        width: calc(100% - 6px);
        height: auto;
        background-color: var(--backgroundColor-menu);
        padding: 20px 3px 1px 3px;
        margin-top: 80px;
    }
    .albums-container .album {
        flex-basis: 33.2%;
        margin: 0px 1px;
    }
    .albums-container .album img {
        height: 300px;
    }
    
}

/*General Album music styling*/
main .music-album-container {
    width: 100%;
    height: auto;
    background-color: #222;
}

.music-album-container .heading {
    font-size: 25px;
    font-family: var(--font-family-text);
    font-weight: 400;
    padding: 120px 15px 15px 15px;
    text-align: center;
    text-shadow: 0px 10px 5px #000;
    text-transform: uppercase;
    color: #fff;   
}

.music-album-container .music-container {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.music-album-container .music-container .box {
    height: 16rem;
    width: 80%;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 1rem;
    overflow: hidden;
    margin: 2rem;
    transition: 0.5s;
    box-shadow: 0 .5rem 1rem #000;
}

.music-container .paragraph {
    width: 80%;
    padding: 2rem 0;
    text-align: left;
    color: #fff;
    font-family: var(--font-family-text);
}
.paragraph a {
    color: orange;
    text-decoration: none;
}
.paragraph a:hover {
    color: var(--color-footer-info);
    text-decoration: underline;
}
.music-container .box .image {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family-text);
    /*background: linear-gradient(#cc2b5e, #753a88);*/
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
}/*
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/
.image h2 {
    font-size: 23px;
}
.image p {
    font-size: 18px;
}
.music-container .box .music {
    width: 75%;
}
.music-container .box .music audio{
    width: 100%;
    outline: none;
}
.music-container .box .music audio::-webkit-media-controls-eclosure{
    background: none;
    display: none;
}

@media only screen and (max-width: 600px) {
    .music-album-container .music-container .box {
        height: 15rem;
        width: 90%;
        flex-flow: column;
    }
    .music-container .box .image {
        height: 80%;
        width: 100%;
    }
    .music-container .box .music {
        height: 20%;
        width: 100%;
    }
    .music-container .paragraph {
        width: 80%;
        padding: 2rem 0;
        text-align: center;
    }
}
@media only screen and (min-width: 1024px) {
    main .music-album-container {
        margin-top: 80px;
    }
}